div{
    height: 300px;
    width: 200px;
}

.a{
    
    background-color: yellow;
    border-top: 5px solid black;
    border-right: 10px double grey;
    border-bottom: 5px solid green;
    border-left: 20px solid blue;
}

.b{
    background-color: orange;
    border: 5px solid black;
    padding: 20px 30px 20px;
    
}